scripts/Schema/ConfigurationSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ConfigurationSchema" xmlns:tns="http://www.example.org/ConfigurationSchema" elementFormDefault="qualified">

    <element name="Configuration" type="tns:ConfigurationDefinition"></element>
    
    <complexType name="ConfigurationDefinition">
    	<sequence>
    		<element name="DebugModel" type="boolean" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="EventExposure" type="boolean" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>